<div class="row">

<div class="span10 offset4">

  <div id="amee_logo">
    <h1>
      <%=
        image_tag('welcome-to-alf.png', :alt => "Welcome to AMEE Location Footprinter")
      %>
    </h1>
  </div>

  <h3>
    ALF helps you understand the environmental impact of your travel
  </h3>

  <br />

  <%=
    link_to image_tag('connect.png'), @authorize_url,
      :class => 'connect no_underline'
  %>

  <h3 class="weekly_email">
    You'll get a weekly email summary of the environmental footprint your journeys.
  </h3>

    <%= link_to image_tag(
		'example-mail-thumbnail.png', 
		:alt => "Example email", 
		:class => "sample_mail"
		),
		asset_path('ALF-Mail-resized.png'),
		:class => "sample_mail no_underline",
		:title => "Example email sent by ALF"
	 %>

  <h4 class="learn_more">
    <%= link_to "Learn more >>", "/learn_more" %>
  </h4>

  <br />

  <%=
    link_to image_tag(
        'poweredbyamee-icon.png',
        :alt => "AMEE - Environmental Intelligence Everywhere",
		:class => "powered_by_amee"
      ),
      "http://www.amee.com",
      :title => "AMEE Location Footprinter is powered by AMEE, a company
        dedicated to finding lasting solutions for the world's environmental
        problems.",
      :class => 'no_underline'
  %>

</div>

</div>
