<h3>Checkins between 
  <%= @chosen_week.beginning_of_week.strftime("%d %b %Y") %> 
  and 
  <%= @chosen_week.end_of_week.strftime("%d %b %Y") %>
</h3>

<%= link_to "back a week", "/legs/#{@chosen_week.beginning_of_week.strftime("%Y-%m-%d")}" %>
<%= link_to "forward a week", "/legs/#{@chosen_week.end_of_week.strftime("%Y-%m-%d")}" %>

<ul class="span16 list_checkins">
  <% ["Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday"].each do |day| %>

    <%= render :partial => 'daily_checkins', :locals => {:day => day, :legs => @days[day.downcase] } %>

  <% end %>
</ul>